<!DOCTYPE html>
<html lang="pt-br">
    <!doctype html>
    <html lang="en" data-bs-theme="auto">
      <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Acolhimento Lar de Idosos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <link href="{{ url_for('static', filename='sign-in.css') }}" rel="stylesheet">
      </head>
      <header>
        <nav class="navbar navbar-expand-lg bg-light h5 ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link text-dark" aria-current="page" href="{{url_for('painel')}}">Painel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ url_for('update_coordinator') }}">Minhas Informações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ url_for('idoso_registrar') }}">Registrar Idoso</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ url_for('logout') }}">Sair</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body class=".d-inline-flex py-4 bg-body-tertiary">
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
          <symbol id="check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </symbol>
          <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
          </symbol>
          <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
          </symbol>
          <symbol id="sun-fill" viewBox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
          </symbol>
        </svg>
<div class="container mt-3">
    <main class="form-signin w-100 m-auto">

      <div class="container pt-3">
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{category}}">{{message}}</div>      
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}

        {% endblock %}
    </div>

    <h3 class='text-left mb-2'>Registrar Idoso</h3>
    <form action="{{ url_for('idoso_registrar') }}" method="post">
    
    <div class="form-group">
        <label for="nome_idoso">Nome do Idoso:</label>
        <input type="text" id="nome_idoso" name="nome_idoso" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" id="data_nascimento" name="data_nascimento" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="cpf_idoso">CPF do Idoso:</label>
        <input type="text" id="cpf_idoso" name="cpf_idoso" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="rg_idoso">RG do Idoso:</label>
        <input type="text" id="rg_idoso" name="rg_idoso" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="cartao_sus">Cartão SUS:</label>
        <input type="text" id="cartao_sus" name="cartao_sus" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" id="complemento" name="complemento" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="nome_responsavel">Nome do Responsável:</label>
        <input type="text" id="nome_responsavel" name="nome_responsavel" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="rg_responsavel">RG do Responsável:</label>
        <input type="text" id="rg_responsavel" name="rg_responsavel" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="cpf_responsavel">CPF do Responsável:</label>
        <input type="text" id="cpf_responsavel" name="cpf_responsavel" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="telefone_responsavel">Telefone Responsável:</label>
        <input type="text" id="telefone_responsavel" name="telefone_responsavel" class="form-control" required>
    </div>
    <button type="submit" class="mt-2 btn btn-primary" value="Registrar">Registrar</button>
    <a href="{{ url_for('painel') }}" class="btn btn-secondary mt-2">Voltar ao Painel</a>
</form>
</main>
<script>
  $(document).ready(function(){
    $('#cpf_idoso, #cpf_responsavel').mask('000.000.000-00', {reverse: true});
    $('#rg_idoso, #rg_responsavel').mask('00.000.000-0', {reverse: true});
    $('#telefone, #telefone_responsavel').mask('(00) 00000-0000');
  });
  </script>
</div>
</body>
</html>
